body {
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
}

p.bold{
  font-size:20px;
  font-weight:bold;
}

.page h1 {
  color: var(--h1-color);
}
.page h2 {
  color: var(--h2-color);
  font-size: 140%;
  line-height: 1.25em;
}
a {
  color: var(--link-text-color);
}

.note {
  border-left: 4px solid var(--note-color);
  color: var(--note-text-color);
}
.num_block {
  border-left: 4px solid #16a085;
}
.num_block[prefix="Teorema"] {
  border-left: 4px solid #2ecc71;
}
.num_block[prefix="Lema"] {
  border-left: 4px solid #f39c12;
}

.image_expand {
  -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5);
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5);
}

.interactive {
  text-align: center;
  border: 1px solid var(--interactive-border-color);
  border-radius: 2px;
  background: var(--interactive-color);
}
.image_link {
  border: 2px solid var(--image-border-color);
}

li {
  padding: 0 0 0.4em 0;
}

code, code_math {
  display: inline;
}
code, pre, code_math {
  font-family: 'UbuntuMono', monospace;
  font-size: 107%;
  color: #778890;
}
xmp {
  font-family: 'UbuntuMono', monospace;
  font-size: 107%;
  color: #e67e22;
  border: 1px solid #e67e22;
}

.katex {
  font-size: 110% !important;
}

.cover_title {
  position: absolute;
  color: #1B1464;
  text-align: center;
  text-shadow: 1px 2px rgba(0,0,0,0.15);

  font-size:220%;
  left: 110px;
  top: 130px;
  width: 420px;
}
.cover_subtitle {
  position: absolute;
  color: #1B1464;
  text-align: center;
  text-shadow: 1px 2px rgba(0,0,0,0.15);

  font-size: 260%;
  left: 110px;
  top: 200px;
  width: 420px;
  font-weight: bold;
}

.chap_text {
  text-align: right;
  color: #0089cd;
  font-size: 300%;
  text-shadow: 1px 2px rgba(0,0,0,0.15);
  border-right: 5px solid #0089cd;
  padding-right: 0.25em;
}
.chap_name {
  text-align: right;
  color: #0089cd;
  font-size: 150%;
  text-shadow: 1px 2px rgba(0,0,0,0.15);
  border-bottom: 5px solid #0089cd;
  border-right: 5px solid #0089cd;
  padding: 0.5em;
  margin-bottom: 3em;
  line-height: 1.3em;
  padding-top: 0;
  margin-top: 0;
}
#cap_bibliografia {
  font-size:300%;
  color: #0089cd;
  font-weight: normal;
  padding: 0 0.25em 0 0;
}

em {
  color: #1e3799;
}
figcaption {
  margin-top: 0.5em;
  color: var(--figcaption-text);
}

figcaption[class="interactive_note"] {
  color: #e74c3c;
}
.blue {
  color: #3867d6;
}
.red {
  color: #c0392b;
}

div.interactivo{
  border-style: solid; 
  border-width: 4px; 
  border-color: green; 
  border-radius: 10px;
}

iframe.interactivo{
  margin-top: 5px; 
}

/* esta linea es solo para ver el limite del texto, para que no sobre pase los números */
.page_number {
  /*border-top: 1px solid #ddd;*/
  padding: 0.5em 3.75em 0 3.75em;
}
.page:nth-child(even) .page_number {
  text-align: right;
}
.page:nth-child(odd) .page_number {
  text-align: left;
}